<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Ankieta</title>
</head>
<body>
    <div class="container">
        <!-- Front Page -->
        <section class="section-1">
            <div class="navbar-wrapper">
                <nav class="navbar">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link">Strona główna</a>
                        </li>
                        <li class="nav-item">
                            <a href="form.html" class="nav-link">Ankieta</a>
                        </li>
                        <li class="nav-item">
                            <a href="creators.html" class="nav-link">Twórcy</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
        <!-- End of Front Page -->
        <section class="section-2-form">
            <div class="questions">
                <div class="question">
                    <p class="question-content">{{question1}}</p>
                    <div class="rating_scale">
                        <label>
                        <input type="radio" name="rad"/><span>1</span>
                        </label>
                        <label>
                        <input type="radio" name="rad"/><span>2</span>
                        </label>
                        <label>
                        <input type="radio" name="rad"/><span>3</span>
                        </label>
                        <label>
                        <input type="radio" name="rad"/><span>4</span>
                        </label>
                        <label>
                        <input type="radio" name="rad"/><span>5</span>
                        </label>
                    </div>
                </div>
                <div class="question">
                    <p class="question-content">{{question2}}</p>
                    <div class="rating_scale">
                        <label>
                        <input type="radio" name="rad"/><span>1</span>
                        </label>
                        <label>
                        <input type="radio" name="rad"/><span>2</span>
                        </label>
                        <label>
                        <input type="radio" name="rad"/><span>3</span>
                        </label>
                        <label>
                        <input type="radio" name="rad"/><span>4</span>
                        </label>
                        <label>
                        <input type="radio" name="rad"/><span>5</span>
                        </label>
                    </div>
                </div>
                <div class="question">
                    <p class="question-content">{{question3}}</p>
                    <div class="rating_scale">
                        <label>
                        <input type="radio" name="rad"/><span>1</span>
                        </label>
                        <label>
                        <input type="radio" name="rad"/><span>2</span>
                        </label>
                        <label>
                        <input type="radio" name="rad"/><span>3</span>
                        </label>
                        <label>
                        <input type="radio" name="rad"/><span>4</span>
                        </label>
                        <label>
                        <input type="radio" name="rad"/><span>5</span>
                        </label>
                    </div>
                </div>
                <div class="question">
                    <p class="question-content">{{question4}}</p>
                    <div class="rating_scale">
                        <label>
                        <input type="radio" name="rad"/><span>1</span>
                        </label>
                        <label>
                        <input type="radio" name="rad"/><span>2</span>
                        </label>
                        <label>
                        <input type="radio" name="rad"/><span>3</span>
                        </label>
                        <label>
                        <input type="radio" name="rad"/><span>4</span>
                        </label>
                        <label>
                        <input type="radio" name="rad"/><span>5</span>
                        </label>
                    </div>
                </div>
                
            </div>
            <button class="next-btn q-button "><i class="fas fa-angle-double-right"></i>
            <button class="previous-btn q-button"><i class="fas fa-angle-double-left"></i></button>  
        </section>

        <!-- Footer -->
        <footer class="footer">
            <p class="copyright">Webowa Druzyna &copy; All Rights Reserved</p>
        </footer>
        <!-- End of Footer -->
    </div>
    <canvas class="background"></canvas>
    <script src="/static/script.js"></script>
    <script src="/static/particle/dist/particles.min.js"></script>
</body>
</html>